{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite-EventPage{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">Event</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'group:index' %}">Group</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'group:vote' %}">Vote</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'movie:list' %}">Movie</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'group:create_event' %}">Create an Event</a></li>
            </ul>
        </div>
    </div>



            {% for event in events %}
              <div class="event">
                <h3><a href="{% url 'group:event' %}">{{event.event_name }}</a></h3>
              </div>
            {% empty %}
              <div class="event">
                  <h3>There is no event</h3>
              </div>
            {% endfor %}


{% endblock body %}