{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite-HomePage{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">Groups</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'group:join_group' %}">Join a group</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'group:create_group' %}">Create a group</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'group:unsubscribe' %}">Unsubscribe</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'group:event' %}">Event</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'movie:list' %}">Movie</a></li>
            </ul>
        </div>
    </div>

            {% for group in groups %}
              <div class="group">
                <h3><a href="{% url 'group:event' %}">{{group.group_name }}</a></h3>
              </div>
            {% empty %}
              <div class="group">
                  <h3>There is no group</h3>
              </div>
            {% endfor %}

{% endblock body %}