{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite:Join{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
{% endblock topfiles %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
    <div class="register_con">
        <div class="l_con fl">
            <div class="reg_slogan">OOD TEAM 3</div>
            <div class="reg_banner"></div>
        </div>

        <div class="r_con fr">
            <div class="reg_title clearfix">
                <h1>Join a Group</h1>
                <a href="{% url 'group:index' %}">Back</a>
            </div>
            <div class="reg_form clearfix">
                <form method="post" action="/group/join_group/">
                    {% csrf_token %}
                <ul>

                    <li>
                        <label>Group:</label>
                        <input type="text" name="group_name" id="group_name">
                    </li>

                    <li class="reg_sub">
                        <input type="submit" value="Join" name="">
                    </li>
                </ul>
                </form>
                {{ errmsg }}
            </div>

        </div>

    </div>
{% endblock body %}