{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite-HomePage{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">Movies</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'group:index' %}">Groups</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'movie:pull_movie' %}">Add a Movie</a></li>
                <li class="interval">|</li>
                <li><a href="">Review</a></li>
                <li class="interval">|</li>
                <li><a href="">Trailer</a></li>
            </ul>
        </div>
    </div>



            {% for movie in movies %}
              <div class="movie">
                <h3><a href="{% url 'movie:list' %}">{{movie.movie_name }}</a></h3>
              </div>
            {% empty %}
              <div class="movie">
                  <h3>There is no movie</h3>
              </div>
            {% endfor %}




{% endblock body %}