{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite:Login{% endblock title %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
    <div class="login_top clearfix">

    </div>

    <div class="login_form_bg">
        <div class="login_form_wrap clearfix">
            <div class="slogan fl">OOD TEAM3</div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <h1>Login</h1>
                    <a href="#">SignUp</a>
                </div>
                <div class="form_input">
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="username" class="name_input" value="{{ username }}" placeholder="Username">
                        <div class="user_error">error</div>
                        <input type="password" name="pwd" class="pass_input" placeholder="Password">
                        <div class="pwd_error">error</div>
                        <div class="more_input clearfix">
                            <input type="checkbox" name="remember" {{ checked }}>
                            <label>Remember me</label>
                            <a href="#">Forget password</a>
                        </div>
                        <input type="submit" name="" value="login" class="input_submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ errmsg }}
{% endblock body %}