{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}MyMovieSite-VotePage{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">Vote</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'group:create_vote' %}">Create a Vote</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'group:event' %}">Event</a></li>
                <li class="interval">|</li>
                <li><a href="{% url 'group:vote_record' %}">Vote Record</a></li>
            </ul>
        </div>
    </div>




            {% for vote in votes %}
              <div class="vote">
                <h3><a href="{% url 'group:vote_detail' %}">{{vote.vote_name }}</a></h3>
              </div>
            {% empty %}
              <div class="votes">
                  <h3>There is no vote</h3>
              </div>
            {% endfor %}



{% endblock body %}